[Desktop Entry]
Version=1.0
Name=STOMP Core
Comment=STOMP P2P Cryptocurrency
Comment[fr]=STOMP, monnaie virtuelle cryptographique pair à pair
Comment[tr]=STOMP, eşten eşe kriptografik sanal para birimi
Exec=stomp-qt %u
Terminal=false
Type=Application
Icon=stomp128
MimeType=x-scheme-handler/stomp;
Categories=Office;Finance;
StartupWMClass=Stomp-qt
